@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-size: 12px; 
  height: 100%;
  margin: 0;
  padding: 0;
}
#viewport{
  width: 100%;
  position: absolute;
  
}
header{
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.body-header{
  width: 100%;
  margin-top: 13px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.lbl-header{
  margin-right: 15px;
}
.lbl-header:hover{
  text-decoration: underline;
}
.img-header {
  margin-right: 15px;
}
.img-header img{
    width: 20px;
}
.btn-header{
  width: 105px;
  height: 30px;
  background-color: #4584F2;;
  margin-right: 25px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 a{
  text-decoration: none;
  font-weight: bold;
  color: #fbfbfb;
}
#body-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-left: 0;
  margin-right: 0;
}
#body-main strong{
  color: rgb(248, 66, 66);
  font-size: 14px;
}
#body-main p{
  margin-top: 1.5rem;
  color: blue;
  font-size: 14px;
}

.logo img{
  width: 250px;
}
#pesquisar{
  display: flex;
  align-items: center;
  margin-top: 5.5rem;
  border: #cfcfcf solid 1px;
  border-radius: 50px;
}
#pesquisar img{
  width: 30px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#pesquisar input{
  width: 16.5rem;
  height: 2.5rem;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
}
.pesquisar-Icon{
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.teclado-Icon{
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.btn-main{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.btn a{
  color: black;
  font-weight: normal;
  font-size: 14px;
  margin-right: 2rem;
  margin-left: 2rem;
}
.btn:hover{
  border: #cfcfcf solid 1px;
  width: 160px;
  height: 30px;
 align-items: center;
}